# Ignore environment variable files
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
ENV/

# Ignore OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
